<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pick Your data</title>
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" href="assets/media.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="assets/script.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-4 col-4">
                <div class="main_logo"> <a href="index.html"><img src="images/logo.png" alt=""> </a></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-4">
                <nav class="navbar navbar-expand-lg navbar-light"> <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown"> <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Build A List </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="filter.html">Filters</a> <a class="dropdown-item" href="#">Build A List 2</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Build A List 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown"> <a class="nav-link" href="ready-made-lists.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ready-Made Lists </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="job-levels.html">Job Levels</a> <a class="dropdown-item" href="job-titles.html">Job Titles</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Pricing 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown"> <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pricing </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Pricing 1</a> <a class="dropdown-item" href="#">Pricing 2</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Pricing 3</a>
                                </div>
                            </li>
                            <li class="nav-item"> <a class="nav-link disabled" href="#">Popular</a> </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </div>
                </nav>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-6 col-4">
                <div class="menu-nav">
                    <div class="dropdown-container" tabindex="-1">
                        <div class="nav-item dropdown"> <a class="nav-link  three-dots" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  tabs start-->
    <div class="ready_made_list_page">
        <div class="new_tabs_secndpage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div>
                            <h1>NEW FEATURE LAUNCHES ON BOOKYOURDATA - WEB TECHNOLOGIES</h1>
                            <ul>
                                <li>Home </li>
                                <li class="ml-5">Blog </li>
                                <li class="ml-5">Data </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 
                    <div class="col-lg-8 col-md-6 col-sm-12 col-12">
                        <div>
                            <p>Learn about the latest tricks in marketing from data experts on our blog. Uncover the secrets of finding the best business leads, gain insider knowledge, and become a marketing master!</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="new_sections_job data_page">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-8 col-md-8 col-sm-12 col-12">
                    <div class="boxes">
                        <div class="data_page_left">
                            <p>Written by <span>Gary Taylor</span> in <span>Data</span> at 20.09.2018</p>
                            <p> This month we're launching a new feature here at Bookyourdata around the Web Technologies your prospects are using!
                            </p>
                            <p> Now, you can sort based on systems in place and gain more insight into who your target market may be.
                            </p>
                            <p> To use the tool, first navigate to Advanced Features:
                            </p>
                            <img src="images/byd1.jpg">
                            <p class="mt-5 mb-5"> From here you should see that you can select Web Technologies as the last option under advanced:
                            </p>
                            <img src="images/byd2.jpg">
                            <p class="mt-5 mb-5"> Because there are so many technologies, the function is set up as an "auto-suggest" function instead of a drop down. Here you can either write the whole technology name and press ENTER or select from suggested items and click to "include" button:
                            </p>
                            <img src="images/byd3.jpg">
                            <p class="mt-5 mb-5">If you're looking to view all available 5k web technologies, you can do so by clicking below Click Here link for it to appear as a list:
                            </p>
                            <img src="images/byd4.jpg">
                            <p class="mt-5 mb-3">That's all you need to do to integrate the web technologies into your search!
                            </p>
                            <p class="mb-5">Once you've completed search you can use the web tech filter and export/order a list. This list will have an extra field at the end of all other standard fields, shown below. This field will list all available web techs for related domain name.
                            </p>
                            <img src="images/byd6.jpg">
                            <p class="mt-5 mb-3">Simple as that! If you have any questions, know that we are available by phone, email and chat. Just let us know what you need.
                            </p>
                            <div><div class="post-share clearfix gap-bottom-medium">
<span class="st_facebook_hcount" displaytext="Facebook" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span><span class="stMainServices st-facebook-counter" style=" background-image: url('images/facebook_counter.png');">&nbsp;</span><span class="stArrow"><span class="stButton_gradient stHBubble" style="display: inline-block;"><span class="stBubble_hcount">0</span></span></span></span></span></span>
<span class="st_twitter_hcount" displaytext="Tweet" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span><span class="stMainServices st-twitter-counter" style="background-image: url(&quot;https://ws.sharethis.com/images/2017/twitter_counter.png&quot;);">&nbsp;</span><span class="stArrow"><span class="stButton_gradient stHBubble" style="display: inline-block;"><span class="stBubble_hcount">0</span></span></span></span></span></span>
<span class="st_googleplus_hcount" displaytext="Google +" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span><span class="stButton_gradient"><span class="chicklets googleplus">Google +</span></span><span class="stArrow"><span class="stButton_gradient stHBubble" style="display: inline-block;"><span class="stBubble_hcount">0</span></span></span></span></span></span>
<button class="post-back-to-top" type="button"><i class="icon icon-keyboard-arrow-up post-back-to-top__icon"></i> Back To Top</button>
</div></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="boxes_right mb-4">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" disabled="disabled"><b>SHARE THIS</b></a>
                        </div>
                    </div>
                    <div class="boxes_right">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action" disabled="disabled"><b>RECENT POSTS</b></a>
                            <a href="#" class="list-group-item list-group-item-action">New feature launches on Bookyourda..<i class="arrow right"></i></a>
                            <a href="#" class="list-group-item list-group-item-action">Cold Emailing - The most effective m...<i class="arrow right"></i></a>
                            <a href="#" class="list-group-item list-group-item-action">3 Essentials to targeting and prospec...<i class="arrow right"></i></a>
                            <a href="#" class="list-group-item list-group-item-action">Need leads? 5 factors to consider wh...<i class="arrow right"></i></a>
                            <a href="#" class="list-group-item list-group-item-action">4 sales prospecting tools to engage l...<i class="arrow right"></i></a>
                            <a href="#" class="list-group-item list-group-item-action">5 ways to increase your return on ceo..<i class="arrow right"></i></a>
                        </div>
                    </div>
                    <div class="boxes_right mt-4">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action" disabled="disabled"><b>NEWSLETTER</b></a>
                            <a href="#" class="list-group-item list-group-item-action">Subscribe to our email newsletter for useful articles and valuable resources.</a>
                            <a class="list-group-item list-group-item-action" disabled="disabled"><input type="text" name="" placeholder="name@email.com"><i class="arrow right" href="#"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  tabs end-->
    <div></div>
    <div class="ready_to_bost">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                    <div class="ready_made_list">
                        <h1>READY TO BOOST YOUR SALES LIKE YOUR COMPETITORS?
                            TRY OUR TOOL FOR FREE. </h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="bulid_list_btn">
                        <button type="button" class="btn">Build A List<span>&#8594;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/popup.js"> </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>