<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pick Your data</title>
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" href="assets/media.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="assets/script.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-4 col-4">
                <div class="main_logo"> <a href="index.html"><img src="images/logo.png" alt=""> </a></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-4">
                <nav class="navbar navbar-expand-lg navbar-light"> <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown"> <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Build A List </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="filter.html">Filters</a> <a class="dropdown-item" href="#">Build A List 2</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Build A List 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown"> <a class="nav-link" href="ready-made-lists.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ready-Made Lists </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="job-levels.html">Job Levels</a> <a class="dropdown-item" href="job-titles.html">Job Titles</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Pricing 3</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown"> <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pricing </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Pricing 1</a> <a class="dropdown-item" href="#">Pricing 2</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Pricing 3</a>
                                </div>
                            </li>
                            <li class="nav-item"> <a class="nav-link disabled" href="#">Popular</a> </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        </form>
                    </div>
                </nav>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-6 col-4">
                <div class="menu-nav">
                    <div class="dropdown-container" tabindex="-1">
                        <div class="nav-item dropdown"> <a class="nav-link  three-dots" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  tabs start-->
    <div class="ready_made_list_page">
        <div class="new_tabs_secndpage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div>
                            <div id="box-search">
                                <div class="thumbnail text-center">
                                    <img src="images/contact-list2.webp" alt="">
                                    <div class="caption">
                                        <div class="caption_data">
                                            <p>Direct</p>
                                            <h1>48,737</h1>
                                            <p>Email Contacts</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 levels_page">
                        <div>
                            <ul>
                                <li>Home </li>
                                <li class="ml-5">Ready-made lists </li>
                                <li class="ml-5">Job Levels </li>
                            </ul>
                            <h1>CEO EMAIL LIST</h1>
                            <h2>$ 3,929</h2>
                            <p>Yes, you can get the direct contact information of chief executive officers! Pull a huge, human-verified contact list of CEO emails and start leveraging that data as part of your marketing outreach. With this pre-built CEO database, you can jump to the top with direct and accurate email addresses that will energize your next B2B marketing campaign. </p>
                            <button>BUY NOW</button>
                            <button>CUSTOMIZE THIS LIST</button>
                            <div class="best_price_icon">
                                <p><i class="fa fa-check-square-o" style="font-size:24px"></i> <span>Best Price Guarantee</span></p>
                            </div>
                            <div class="best_price_icon">
                                <p><i class="fa fa-check-square-o" style="font-size:24px"></i> <span>Best Price Guarantee</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="business_contacts_level">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="four_tabs">
                        <i class="fa fa-check-square-o" style="font-size:36px;"></i>
                        <span>95% Deliverability
                            Guarantee</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="four_tabs">
                        <i class="fa fa-check-square-o" style="font-size:36px;"></i>
                        <span>Best Price<br>
                            Guarantee</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="four_tabs">
                        <i class="fa fa-check-square-o" style="font-size:36px;"></i>
                        <span>Instant<br>
                            Download (.csv)</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="four_tabs">
                        <i class="fa fa-check-square-o" style="font-size:36px;"></i>
                        <span>Verified<br>
                            Weekly</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="data_structure_contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2> <b>DATA STRUCTURE OF FULL CONTACT DATA</b></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                    <img src="images/ceo.jpg">
                    <button>Download A Sample List</button>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-12 pl-5">
                    <h1>CEO</h1>
                    <p> Chief executive officers (CEOs) are the most important people in a company. They lead, manage, coordinate, and are responsible for big managerial decisions. If you want to network with the people who have the power and authority to actually make important decisions, then this premium CEO email list is for you. It's simply how to contact CEOs with direct marketing. Too often, smaller companies and start-ups are forced to talk with people who don't have the power to make changes. If you want your business-to-business (B2B) marketing campaign to be successful, you need an accurate, targeted list of actionable sales leads. These heads of companies are the people to talk to; they can make changes and initiate key business relationships.</p>
                    <p class="parag2"> In this ready-to-download contact list, you can find an organized directory of CEO phone numbers, emails, and names across companies and institutions. Bookyourdata.com offers this verified <span><a href="#">CEO database </a></span> at an amazingly affordable price while still maintaining accuracy. Use our targeted lists to contact leads who also happen to be the most important group of leaders in the corporate world.</p>
                    <p class="parag2"> With this pre-built CEO mailing list, your marketing efforts will be more effective because you'll be connecting with businesses' top decision-makers. Buy our real, valuable sales leads and find CEO email addresses online right now, or continue to narrow your audience to your industry or area with our list-builder tool. Connect with real decision-makers by reaching to the top of the corporate ladder. Pull a list of CEO email addresses today!</p>
                    <h2>Resources: <span><a href="#"> What CEOs Do,</a></span><span><a href="#">CEO News </a></span><span><a href="#"> CEO Magazine </a></span>- Edited by<span><a href="#"> Gary Taylor </a></span>Other articles by Gary Taylor<span><a href="#"> Computer History,</a></span>
                        <span><a href="#">Business Online</a></span> </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="we_gurantee_email">
                        <h1>We Guarantee Over 95% Email Deliverability With Complete Vcard Information</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--  tabs end-->
    <div class="deliverability">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="four_tabs">
                        <i class="fa fa-check-square-o" style="font-size:36px;"></i><br>
                        <span>95% Deliverability Guarantee</span>
                        <p>Our data is verified by automated processes and human eyes. We're so confident about our contact lists that we provide a 95% accuracy guarantee. If more than 5% of your emails bounce, you'll get credits to make up the difference.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="four_tabs">
                        <i class="fa fa-check-square-o" style="font-size:36px;"></i><br>
                        <span>Instant Download</span>
                        <p>Get an email list in minutes and download it instantly as a .csv file! Both file types can be integrated into your CRM application quickly and easily. So you can get started with making new connections right away. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="four_tabs">
                        <i class="fa fa-check-square-o" style="font-size:36px;"></i><br>
                        <span>Email, Phone, Company Information, & More</span>
                        <p>We provide direct, detailed, specific information to help you make more valuable connections with your future business contacts: emails, names, phone numbers, postal addresses, business titles, company/industry information, department information, fax numbers, revenue, and even employee information.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="four_tabs">
                        <i class="fa fa-check-square-o" style="font-size:36px;"></i><br>
                        <span>Unlimited Usage Rights</span>
                        <p>Once you order the list, you own it! Our pricing is transparent; we don't charge extra fees for using the contacts we give you. There are no hidden fees or contracts. We charge the same low price regardless of if you're a small start-up or a large enterprise!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="we_gurantee_email">
                        <h1>BEST PRICE GUARANTEE</h1>
                        <p>For sure there's no another supplier that can provide better pricing with the same 95% email deliverability guarantee. Even if you find, we beat it directly!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ready_to_bost">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                    <div class="ready_made_list">
                        <h1>READY TO BOOST YOUR SALES LIKE YOUR COMPETITORS?
                            TRY OUR TOOL FOR FREE. </h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="bulid_list_btn">
                        <button type="button" class="btn">Build A List<span>&#8594;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/popup.js"> </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>