<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pick Your data</title>
    <link rel="stylesheet" href="assets/style.css" />
    <link rel="stylesheet" href="assets/media.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="assets/script.js"> </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container pt-2">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-4 col-4">
                <div class="main_logo"> <a href="index.html"><img src="images/logo.png" alt=""> </a></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-6 col-4">
                <nav class="navbar navbar-expand-lg navbar-light"> <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item dropdown"> <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Build A List </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="filter.html">Filters</a> <a class="dropdown-item" href="#">Build A List 2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Build A List 3</a> </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link" href="ready-made-lists.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Ready-Made Lists </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="job-levels.html">Job Levels</a> <a class="dropdown-item" href="job-titles.html">Job Titles</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Pricing 3</a> </div>
            </li>
            <li class="nav-item dropdown"> <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Pricing </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Pricing 1</a> <a class="dropdown-item" href="#">Pricing 2</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Pricing 3</a> </div>
            </li>
            <li class="nav-item"> <a class="nav-link disabled" href="#">Popular</a> </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-6 col-4">
                <div class="menu-nav">
                    <div class="dropdown-container" tabindex="-1">
                        <div class="nav-item dropdown"> <a class="nav-link  three-dots" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">About</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  tabs start-->
    <div class="ready_made_list_page">
        <div class="new_tabs_secndpage">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div>
                            <h1>READY-MADE LISTS</h1>
                            <ul>
                                <li>Home </li>
                                <li class="ml-5">Ready-made lists </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div>
                            <p>These pre-made lists are our ready-to-download directories, full of the most useful contacts in many types of industries. You can find a wide variety of accurate, verified lists that will help you reach out to your target group. Find your audience now!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="new_sections_job">
        <div class="container">
            <div class="row mt-5">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="boxes"> 
                        <h1>JOB LEVELS</h1>
                        <p> Do you know what the most important part of a B2B marketing campaign is? It's finding accurate contact information for people who have the power to make decisions. Don't waste time being diverted and misdirected; cut through that red tape!</p>
                        <button onclick="document.location='job-levels.html'">SEE LISTS<i class="arrow right"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="boxes"> 
                        <h1>JOB TITLES</h1>
                        <p> Download email lists comprised exclusively of contact information for the people you want to market to. Find your leads by their title, and build connections only with people who have the relevant industry knowledge or decision-making power to make changes.</p>
                        <button onclick="document.location='job-levels.html'">SEE LISTS<i class="arrow right"></i></button>
                    </div>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="boxes"> 
                        <h1>JOB FUNCTIONS</h1>
                        <p> Network with people in departments that are most relevant to your product or service, whether that be HR, management, or any of the departments listed below. Market to those in related offices of multiple companies with our verified, accurate lists.</p>
                        <button onclick="document.location='job-levels.html'">SEE LISTS<i class="arrow right"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="boxes"> 
                        <h1>STATES</h1>
                        <p> Looking for direct email contacts of executives, professionals by States? Then you should try our comprehensive email lists by States. We're the only one that can fill your marketing needs with 95% guaranteed email leads that will boost your ROI!</p>
                        <button onclick="document.location='job-levels.html'">SEE LISTS<i class="arrow right"></i></button>
                    </div>
                    
                </div>
            </div>
             <div class="row mt-5">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="boxes"> 
                        <h1>INTERNATIONAL</h1>
                        <p> Pull reliable, accurate international email lists and master your international B2B marketing campaign with Bookyourdata.com. We can help you conduct business overseas by helping you find companies' emails, phone numbers, and more. Target your marketing campaign to the specific places below.</p>
                        <button onclick="document.location='job-levels.html'">SEE LISTS<i class="arrow right"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="boxes"> 
                        <h1>REAL ESTATE</h1>
                        <p> Buy a real estate agent email list to connect with top movers and shakers in the world of real estate. The realtor email list we offer are accurate, human-verified and reliable. These targeted real estate agent leads allow you to market your product or service more efficiently. Our premium real estate mailing lists are filled with the contacts you need: With our affordable real estate emails, your product will be sold in no time! Choose your location to start networking with real estate leads for sale from Bookyourdata.com.</p>
                        <button onclick="document.location='job-levels.html'">SEE LISTS<i class="arrow right"></i></button>
                    </div>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="boxes"> 
                        <h1>HEALTHCARE PROFESSIONALS</h1>
                        <p> Purchase a medical email list of doctors and health professionals to find and connect with them based on specialty. When you purchase a verified medical doctor list by specialty, you can email doctors and those who would be interested in your service. Connect using a pre-built, accurate healthcare email database, including addresses and phone numbers. As an all-in-one solution, our affordable healthcare email lists serve as a healthcare email database for better B2B email marketing and as your doctor mailing list for sending letters or samples. Buy a medical contact list and find sales leads today!</p>
                        <button onclick="document.location='job-levels.html'">SEE LISTS<i class="arrow right"></i></button>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                   <!--  <div class="boxes"> 
                        <h1>REAL ESTATE</h1>
                        <p> Buy a real estate agent email list to connect with top movers and shakers in the world of real estate. The realtor email list we offer are accurate, human-verified and reliable. These targeted real estate agent leads allow you to market your product or service more efficiently. Our premium real estate mailing lists are filled with the contacts you need: With our affordable real estate emails, your product will be sold in no time! Choose your location to start networking with real estate leads for sale from Bookyourdata.com.</p>
                        <button>SEE LISTS<i class="arrow right"></i></button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!--  tabs end-->
    <div></div>
    <div class="ready_to_bost">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-12">
                    <div class="ready_made_list">
                        <h1>READY TO BOOST YOUR SALES LIKE YOUR COMPETITORS?
                            TRY OUR TOOL FOR FREE. </h1>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                    <div class="bulid_list_btn">
                        <button type="button" class="btn">Build A List<span>&#8594;</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/popup.js"> </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>